@import url(http://fonts.googleapis.com/css?family=Lato:300,400);
@import url(http://fonts.googleapis.com/css?family=Grand+Hotel);
.lato {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.lato-lite {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.grand {
  font-family: 'Grand Hotel', cursive;
}
.about-carousel {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
}
.about-carousel-on {
  display: block;
  opacity: 1;
}
.about-carousel-next,
.about-carousel-off {
  display: none;
}
.bg-red {
  background-color: #BE010C;
}
a .bg-red :hover {
  background-color: #7C0006;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  padding-top: 10px;
  background-color: #76C6B9;
  color: #FFF;
}
.navbar-brand > img {
  height: 100%;
}
.push-down {
  padding-top: 15px;
}
@media (min-width: 768px) {
  .push-down {
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  #content {
    padding-top: 0;
  }
}
.navbar-form {
  display: none;
}
@media (min-width: 768px) {
  .navbar-form {
    display: block;
  }
}
@media (min-width: 768px) {
  .navbar-brand {
    display: none;
  }
}
.logo-lg {
  display: none;
}
.logo {
  width: 100%;
}
@media (min-width: 768px) {
  .logo {
    width: auto;
  }
  .logo-lg {
    display: inline;
  }
}
.widen {
  width: 100%;
}
@media (min-width: 768px) {
  .widen-50 {
    width: 50%;
  }
}
.navbar {
  border-bottom: 1px solid #ddd;
}
.navbar-default {
  background-color: #fff;
  background-image: none;
}
.btn {
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
.navbar-blue .navbar-nav > li:not(.active) {
  padding-bottom: 5px;
}
.navbar-blue .navbar-nav > li:hover {
  background-color: #5B9A8F;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-blue .navbar-nav > li > a:hover {
  background-color: #5B9A8F;
  -webkit-box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 3px 9px rgba(0, 0, 0, 0.075);
}
.navbar-blue .navbar-nav > .active > a {
  background-color: #5B9A8F;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
@media (min-width: 768px) {
  .navbar-blue .navbar-nav > .active > a {
    background-color: #76c6b9;
    background-image: none;
    border-bottom: 5px solid #5b9a8f;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
#contacts-panel,
#messages-panel {
  height: 75%;
  overflow-y: auto;
}
.navbar-blue {
  background-color: #76C6B9;
  border-color: #FFF;
}
.navbar-blue .navbar-nav > li > a {
  color: #FFF;
}
.navbar-blue .navbar-nav > li > a :hover {
  background-color: #5B9A8F;
}
.navbar-blue .navbar-toggle {
  border-color: #FFF;
}
.navbar-blue .navbar-toggle:hover,
.navbar-blue .navbar-toggle:focus {
  background-color: #5B9A8F;
}
.navbar-blue .navbar-toggle .icon-bar {
  background-color: #fff;
}
.navbar-blue .navbar-collapse,
.navbar-blue .navbar-form {
  border-color: #FFF;
}
.btn-green {
  color: #fff;
  background-color: #6B8495;
}
.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  color: #fff;
  background-color: #6B8495;
  border-color: #398439;
}
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  background-image: none;
}
.btn-green .badge {
  color: #5cb85c;
  background-color: #fff;
}
.carousel-inner > .item > p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  margin-top: 10px;
  font-size: 1.5em;
  line-height: 1.5em;
}
@media (min-width: 768px) {
  .carousel-inner > .item > p {
    margin-top: 10px;
    font-size: 2em;
    line-height: 2em;
  }
}
